@import url("https://googleapis.com");
@import "tailwindcss";

/* @utility nav-router-option {
  @apply hover:bg-slate-500/40 size-9 flex items-center justify-center rounded-2xl cursor-pointer
} */

/* @utility nav-panel{
  & li {
    @apply z-10;
  }

  & ul {
    @apply flex flex-col items-center gap-y-2
  }
} */

@utility form-input-style {
  @apply h-11 text-sm bg-zinc-950 border placeholder:opacity-50 border-slate-200/15 px-3 rounded-lg ease-in-out focus:outline-none focus:border-amber-200 transition-colors duration-200
}

@theme {
  --font-sans: "Google Sans", ui-sans-serif, system-ui, sans-serif;
}

@keyframes pulseGlow {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 1; }
}

.animate-pulse-slow {
  animation: pulseGlow 1.5s ease-in-out infinite;
}

@layer base {
  * {
    font-family: var(--font-sans);
  }

  button {
    @apply cursor-pointer;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Native browser element optimization */
  color-scheme: light; 
  
  /* Scrollbar configuration variables */
  --sb-track: #1b1b1b;
  --sb-thumb: #c1c1c1;
  --sb-hover: #a8a8a8;
}

/* Update variable rules seamlessly under your new dark variant */
.dark {
  color-scheme: dark; 
  
  --sb-track: #1e293b; /* slate-800 */
  --sb-thumb: #475569; /* slate-600 */
  --sb-hover: #64748b; /* slate-500 */
}

/* Global scrollbar layout configuration */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--sb-track);
}
::-webkit-scrollbar-thumb {
  background: var(--sb-thumb);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--sb-hover);
}